body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: rgb(141, 193, 202);
}

h1 {
    font-size: 42px;
}
p {
    font-size: 36px;
}

.counter {
    font-size: 28px;
}